// Venonia Custom Style
.venonia-header {
  display: flex;
  justify-content: space-between;
}

.venonia-card {
  .venonia-card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .card__body {
    overflow-y: auto;
  }

  .card__body--270 {
    height: calc(100vh - 270px);
  }

  .card__body--205 {
    height: calc(100vh - 205px);
  }
}

// Global reset
h1 {
  font-size: 2em;
  margin-top: 0px;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}