h1 {
  font-size: 2em;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

// Venonia Custom Style

.venonia-header {
  display: flex;
  justify-content: space-between;
}

.venonia-card {
  .card__body {
    overflow-y: auto;
  }

  .card__body--270 {
    max-height: calc(100vh - 270px);
  }

  .card__body--200 {
    max-height: calc(100vh - 200px);
  }
}