// Venonia Custom Style
.venonia-header {
  display: flex;
  justify-content: space-between;
}

.venonia-dialog-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .header__btnGroup {
    display: flex;
    align-items: center;

    .btnGroup__btn {
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: var(--el-message-close-size, 16px);
    }
  }
}

.venonia-dialog-body {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.venonia-card {
  .venonia-card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .header__btnGroup {}
  }

  .card__body {
    overflow-y: auto;
  }

  .card__body--270 {
    max-height: calc(100vh - 270px);
  }

  .card__body--205 {
    max-height: calc(100vh - 205px);
  }
}

.venonia-card--768 {
  max-width: 768px;
}

// Global reset
h1 {
  font-size: 2em;
  margin-top: 0px;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}